## Renewability

Renewability is the piece of the equation that takes **ACV** and converts to **ARR**. The premise is relatively simple, filter out any items in the contract that are considered non-renewable. This is easily done with a flag for renewability.

In [2]:
from arr import (
    Contract,
    ContractHeader,
    ContractLine
)
from datetime import date

ramp_w_onboarding = Contract(
    1,
    ContractHeader(36_000, date(2024, 1, 1), date(2026, 12, 31)),
    [
        ContractLine(4_000, date(2024, 1, 1), date(2024, 12, 31), 1, True),
        ContractLine(4_000, date(2024, 1, 1), date(2024, 12, 31), 2, True),
        ContractLine(6_000, date(2025, 1, 1), date(2025, 12, 31), 1, True),
        ContractLine(6_000, date(2025, 1, 1), date(2025, 12, 31), 2, True),
        ContractLine(8_000, date(2026, 1, 1), date(2026, 12, 31), 1, True),
        ContractLine(8_000, date(2026, 1, 1), date(2026, 12, 31), 2, True),
        ContractLine(6_000, date(2024, 1, 1), date(2024, 12, 31), 3, False),
    ],
    'Customer1'
)

# Notice the `renewable` bool arg.
help(ContractLine)

df = ramp_w_onboarding.to_df()

print("Contract Table w/ all items")
display(df)

print("Contract Table w/ only renewable items.")
display(df[df["line.renewable"] == True])

Help on class ContractLine in module arr.contract:

class ContractLine(builtins.object)
 |  ContractLine(amount: 'int', start_date: 'date', end_date: 'date', product: 'str', renewable: 'bool') -> None
 |
 |  Dataclass to handle contract lines.
 |
 |  Args:
 |      amount (int): Total value of the line.
 |      start_date (date): The Start Date of the Contract.
 |      end_date (date): The End Date of the Contract.
 |      product (int): The product purchased by customer.
 |      renewable (bool): indicator whether or not product
 |          is renewable.
 |
 |  Methods defined here:
 |
 |  __eq__(self, other)
 |      Return self==value.
 |
 |  __init__(self, amount: 'int', start_date: 'date', end_date: 'date', product: 'str', renewable: 'bool') -> None
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __annotations__ = {'amount': 'int', 'end_date': 'date', 'product': 'st...
 |
 |  __dataclass_fields__ = {'amount': Field(name='amount',type='int',defau...
 |
 |  __dataclass_params__ = _DataclassParams(init=True,repr=True,eq=True,or...
 |
 |  __hash__ = None
 |
 |  __match_args__ = ('amount', 'start_date', 'end_date', 'product', 'rene...

Contract Table w/ all items

,id,customer,header.amount,header.start_date,header.end_date,header.booking_date,line.amount,line.start_date,line.end_date,line.product,line.renewable
0,1,Customer1,36000,2024-01-01,2026-12-31,2024-01-01,4000,2024-01-01,2024-12-31,1,True
1,1,Customer1,36000,2024-01-01,2026-12-31,2024-01-01,4000,2024-01-01,2024-12-31,2,True
2,1,Customer1,36000,2024-01-01,2026-12-31,2024-01-01,6000,2025-01-01,2025-12-31,1,True
3,1,Customer1,36000,2024-01-01,2026-12-31,2024-01-01,6000,2025-01-01,2025-12-31,2,True
4,1,Customer1,36000,2024-01-01,2026-12-31,2024-01-01,8000,2026-01-01,2026-12-31,1,True
5,1,Customer1,36000,2024-01-01,2026-12-31,2024-01-01,8000,2026-01-01,2026-12-31,2,True
6,1,Customer1,36000,2024-01-01,2026-12-31,2024-01-01,6000,2024-01-01,2024-12-31,3,False

Contract Table w/ only renewable items.

,id,customer,header.amount,header.start_date,header.end_date,header.booking_date,line.amount,line.start_date,line.end_date,line.product,line.renewable
0,1,Customer1,36000,2024-01-01,2026-12-31,2024-01-01,4000,2024-01-01,2024-12-31,1,True
1,1,Customer1,36000,2024-01-01,2026-12-31,2024-01-01,4000,2024-01-01,2024-12-31,2,True
2,1,Customer1,36000,2024-01-01,2026-12-31,2024-01-01,6000,2025-01-01,2025-12-31,1,True
3,1,Customer1,36000,2024-01-01,2026-12-31,2024-01-01,6000,2025-01-01,2025-12-31,2,True
4,1,Customer1,36000,2024-01-01,2026-12-31,2024-01-01,8000,2026-01-01,2026-12-31,1,True
5,1,Customer1,36000,2024-01-01,2026-12-31,2024-01-01,8000,2026-01-01,2026-12-31,2,True

In [3]:
acv_table = ramp_w_onboarding.to_annualize_df(arr=False)

arr_table = ramp_w_onboarding.to_annualize_df()

arr_table.loc["total", :] = arr_table.sum().values
acv_table.loc["total", :] = acv_table.sum().values

print("ACV table")
display(acv_table)

print("ARR table")
display(arr_table)

ACV table

                                 ACV                                   \
period                    2024-01-31 2024-02-29 2024-03-31 2024-04-30
customer  id line.product
Customer1 1  1                4000.0     4000.0     4000.0     4000.0
             2                4000.0     4000.0     4000.0     4000.0
             3                6000.0     6000.0     6000.0     6000.0
total                        14000.0    14000.0    14000.0    14000.0

                                                                       \
period                    2024-05-31 2024-06-30 2024-07-31 2024-08-31
customer  id line.product
Customer1 1  1                4000.0     4000.0     4000.0     4000.0
             2                4000.0     4000.0     4000.0     4000.0
             3                6000.0     6000.0     6000.0     6000.0
total                        14000.0    14000.0    14000.0    14000.0

                                                                       \
period                    2024-09-30 2024-10-31 2024-11-30 2024-12-31
customer  id line.product
Customer1 1  1                4000.0     4000.0     4000.0     4000.0
             2                4000.0     4000.0     4000.0     4000.0
             3                6000.0     6000.0     6000.0     6000.0
total                        14000.0    14000.0    14000.0    14000.0

                                                                       \
period                    2025-01-31 2025-02-28 2025-03-31 2025-04-30
customer  id line.product
Customer1 1  1                6000.0     6000.0     6000.0     6000.0
             2                6000.0     6000.0     6000.0     6000.0
             3                   0.0        0.0        0.0        0.0
total                        12000.0    12000.0    12000.0    12000.0

                                                                       \
period                    2025-05-31 2025-06-30 2025-07-31 2025-08-31
customer  id line.product
Customer1 1  1                6000.0     6000.0     6000.0     6000.0
             2                6000.0     6000.0     6000.0     6000.0
             3                   0.0        0.0        0.0        0.0
total                        12000.0    12000.0    12000.0    12000.0

                                                                       \
period                    2025-09-30 2025-10-31 2025-11-30 2025-12-31
customer  id line.product
Customer1 1  1                6000.0     6000.0     6000.0     6000.0
             2                6000.0     6000.0     6000.0     6000.0
             3                   0.0        0.0        0.0        0.0
total                        12000.0    12000.0    12000.0    12000.0

                                                                       \
period                    2026-01-31 2026-02-28 2026-03-31 2026-04-30
customer  id line.product
Customer1 1  1                8000.0     8000.0     8000.0     8000.0
             2                8000.0     8000.0     8000.0     8000.0
             3                   0.0        0.0        0.0        0.0
total                        16000.0    16000.0    16000.0    16000.0

                                                                       \
period                    2026-05-31 2026-06-30 2026-07-31 2026-08-31
customer  id line.product
Customer1 1  1                8000.0     8000.0     8000.0     8000.0
             2                8000.0     8000.0     8000.0     8000.0
             3                   0.0        0.0        0.0        0.0
total                        16000.0    16000.0    16000.0    16000.0


period                    2026-09-30 2026-10-31 2026-11-30 2026-12-31
customer  id line.product
Customer1 1  1                8000.0     8000.0     8000.0     8000.0
             2                8000.0     8000.0     8000.0     8000.0
             3                   0.0        0.0        0.0        0.0
total                        16000.0    16000.0    16000.0    16000.0

ARR table

                                 ARR                                   \
period                    2024-01-31 2024-02-29 2024-03-31 2024-04-30
customer  id line.product
Customer1 1  1                4000.0     4000.0     4000.0     4000.0
             2                4000.0     4000.0     4000.0     4000.0
total                         8000.0     8000.0     8000.0     8000.0

                                                                       \
period                    2024-05-31 2024-06-30 2024-07-31 2024-08-31
customer  id line.product
Customer1 1  1                4000.0     4000.0     4000.0     4000.0
             2                4000.0     4000.0     4000.0     4000.0
total                         8000.0     8000.0     8000.0     8000.0

                                                                       \
period                    2024-09-30 2024-10-31 2024-11-30 2024-12-31
customer  id line.product
Customer1 1  1                4000.0     4000.0     4000.0     4000.0
             2                4000.0     4000.0     4000.0     4000.0
total                         8000.0     8000.0     8000.0     8000.0

                                                                       \
period                    2025-01-31 2025-02-28 2025-03-31 2025-04-30
customer  id line.product
Customer1 1  1                6000.0     6000.0     6000.0     6000.0
             2                6000.0     6000.0     6000.0     6000.0
total                        12000.0    12000.0    12000.0    12000.0

                                                                       \
period                    2025-05-31 2025-06-30 2025-07-31 2025-08-31
customer  id line.product
Customer1 1  1                6000.0     6000.0     6000.0     6000.0
             2                6000.0     6000.0     6000.0     6000.0
total                        12000.0    12000.0    12000.0    12000.0

                                                                       \
period                    2025-09-30 2025-10-31 2025-11-30 2025-12-31
customer  id line.product
Customer1 1  1                6000.0     6000.0     6000.0     6000.0
             2                6000.0     6000.0     6000.0     6000.0
total                        12000.0    12000.0    12000.0    12000.0

                                                                       \
period                    2026-01-31 2026-02-28 2026-03-31 2026-04-30
customer  id line.product
Customer1 1  1                8000.0     8000.0     8000.0     8000.0
             2                8000.0     8000.0     8000.0     8000.0
total                        16000.0    16000.0    16000.0    16000.0

                                                                       \
period                    2026-05-31 2026-06-30 2026-07-31 2026-08-31
customer  id line.product
Customer1 1  1                8000.0     8000.0     8000.0     8000.0
             2                8000.0     8000.0     8000.0     8000.0
total                        16000.0    16000.0    16000.0    16000.0


period                    2026-09-30 2026-10-31 2026-11-30 2026-12-31
customer  id line.product
Customer1 1  1                8000.0     8000.0     8000.0     8000.0
             2                8000.0     8000.0     8000.0     8000.0
total                        16000.0    16000.0    16000.0    16000.0

ACV (including the `renewable == False`) starts at $\text{14k}$ in year 1, decrease to $\text{12k}$ in year 2, and up to $\text{16k}$ in year 3. While ARR (excluding the `renewable == False`) starts at $\text{8k}$ in year 1 and does a steady $\text{4k}$ increase each year.

$
\begin{matrix}
\text{Metric} & \text{Year 1} & \text{Year 2} & \text{Year 3}\\\\
\text{ACV} & \text{14k} & \text{12k} & \text{16k}\\
\text{ARR} & \text{8k} & \text{12k} & \text{16k}
\end{matrix}
$

### SCD Type 2

The decision to make a product renewable or non-renewable is a business decision. It is common for businesses to change their minds and adapt as new information comes, so the data will need to be able to adapt with it.

> Scenario:
> New leadership comes into the company at the start of 2024. The company is currently selling 4 different software items and 1 onboarding item:
> |Item Name|Item Sku|Renewable|
> |---|---|---|
> |Software Feature 1|1|True|
> |Software Feature 2|2|True|
> |Software Feature 3|3|True|
> |Software Feature 4|4|True|
> |Onboarding|5|False|
> 
> They have decided to update 'Software Feature 4' as no longer a renewable item:
> |Item Name|Item Sku|Renewable|
> |---|---|---|
> |Software Feature 1|1|True|
> |Software Feature 2|2|True|
> |Software Feature 3|3|True|
> |Software Feature 4|4|**False**|
> |Onboarding|5|False|
>
> This change is effective immediately on January 1st 2024.

This scenario is a classic use case of [SCD (Slowly Changing Dimensions)](https://en.wikipedia.org/wiki/Slowly_changing_dimension). This writeup will not be covering what SCD is or how to build it out in a data model. Plenty of articles and books exist covering this concept.

<div class="alert alert-block alert-info">
It is important to be able to supply the business with product/item data on both a Type 1 & Type 2 basis.
</div>

In [4]:
contract_pre_change = Contract(
    1,
    ContractHeader(24_000, date(2023, 1, 1), date(2025, 12, 31)),
    [
        ContractLine(4_000, date(2023, 1, 1), date(2023, 12, 31), 4, True),
        ContractLine(4_000, date(2023, 1, 1), date(2023, 12, 31), 3, True),
        ContractLine(4_000, date(2024, 1, 1), date(2024, 12, 31), 4, True),
        ContractLine(4_000, date(2024, 1, 1), date(2024, 12, 31), 3, True),
        ContractLine(4_000, date(2025, 1, 1), date(2025, 12, 31), 4, True),
        ContractLine(4_000, date(2025, 1, 1), date(2025, 12, 31), 3, True),
    ],
)
contract_post_change = Contract(
    1,
    ContractHeader(24_000, date(2023, 1, 1), date(2025, 12, 31)),
    [
        ContractLine(4_000, date(2023, 1, 1), date(2023, 12, 31), 4, False),
        ContractLine(4_000, date(2023, 1, 1), date(2023, 12, 31), 3, True),
        ContractLine(4_000, date(2024, 1, 1), date(2024, 12, 31), 4, False),
        ContractLine(4_000, date(2024, 1, 1), date(2024, 12, 31), 3, True),
        ContractLine(4_000, date(2025, 1, 1), date(2025, 12, 31), 4, False),
        ContractLine(4_000, date(2025, 1, 1), date(2025, 12, 31), 3, True),
    ],
)

In [5]:
pre_df = contract_pre_change.to_annualize_df()
post_df = contract_post_change.to_annualize_df()

type2_part1 = pre_df[[col for col in pre_df.columns if col[1].date() < date(2024, 1, 31)]]
type2_part2 = post_df[[col for col in pre_df.columns if col[1].date() >= date(2024, 1, 31)]]

type2 = type2_part1.merge(
    type2_part2, left_index=True, right_index=True, how="outer"
).fillna(0)

type1 = post_df

print("Type 2")
display(type2)

print("Type 1")
display(type1)

Type 2

                                        ARR                                   \
period                           2023-01-31 2023-02-28 2023-03-31 2023-04-30
customer         id line.product
Example Customer 1  3                4000.0     4000.0     4000.0     4000.0
                    4                4000.0     4000.0     4000.0     4000.0

                                                                              \
period                           2023-05-31 2023-06-30 2023-07-31 2023-08-31
customer         id line.product
Example Customer 1  3                4000.0     4000.0     4000.0     4000.0
                    4                4000.0     4000.0     4000.0     4000.0

                                                                              \
period                           2023-09-30 2023-10-31 2023-11-30 2023-12-31
customer         id line.product
Example Customer 1  3                4000.0     4000.0     4000.0     4000.0
                    4                4000.0     4000.0     4000.0     4000.0

                                                                              \
period                           2024-01-31 2024-02-29 2024-03-31 2024-04-30
customer         id line.product
Example Customer 1  3                4000.0     4000.0     4000.0     4000.0
                    4                   0.0        0.0        0.0        0.0

                                                                              \
period                           2024-05-31 2024-06-30 2024-07-31 2024-08-31
customer         id line.product
Example Customer 1  3                4000.0     4000.0     4000.0     4000.0
                    4                   0.0        0.0        0.0        0.0

                                                                              \
period                           2024-09-30 2024-10-31 2024-11-30 2024-12-31
customer         id line.product
Example Customer 1  3                4000.0     4000.0     4000.0     4000.0
                    4                   0.0        0.0        0.0        0.0

                                                                              \
period                           2025-01-31 2025-02-28 2025-03-31 2025-04-30
customer         id line.product
Example Customer 1  3                4000.0     4000.0     4000.0     4000.0
                    4                   0.0        0.0        0.0        0.0

                                                                              \
period                           2025-05-31 2025-06-30 2025-07-31 2025-08-31
customer         id line.product
Example Customer 1  3                4000.0     4000.0     4000.0     4000.0
                    4                   0.0        0.0        0.0        0.0


period                           2025-09-30 2025-10-31 2025-11-30 2025-12-31
customer         id line.product
Example Customer 1  3                4000.0     4000.0     4000.0     4000.0
                    4                   0.0        0.0        0.0        0.0

Type 1

                                        ARR                                   \
period                           2023-01-31 2023-02-28 2023-03-31 2023-04-30
customer         id line.product
Example Customer 1  3                4000.0     4000.0     4000.0     4000.0

                                                                              \
period                           2023-05-31 2023-06-30 2023-07-31 2023-08-31
customer         id line.product
Example Customer 1  3                4000.0     4000.0     4000.0     4000.0

                                                                              \
period                           2023-09-30 2023-10-31 2023-11-30 2023-12-31
customer         id line.product
Example Customer 1  3                4000.0     4000.0     4000.0     4000.0

                                                                              \
period                           2024-01-31 2024-02-29 2024-03-31 2024-04-30
customer         id line.product
Example Customer 1  3                4000.0     4000.0     4000.0     4000.0

                                                                              \
period                           2024-05-31 2024-06-30 2024-07-31 2024-08-31
customer         id line.product
Example Customer 1  3                4000.0     4000.0     4000.0     4000.0

                                                                              \
period                           2024-09-30 2024-10-31 2024-11-30 2024-12-31
customer         id line.product
Example Customer 1  3                4000.0     4000.0     4000.0     4000.0

                                                                              \
period                           2025-01-31 2025-02-28 2025-03-31 2025-04-30
customer         id line.product
Example Customer 1  3                4000.0     4000.0     4000.0     4000.0

                                                                              \
period                           2025-05-31 2025-06-30 2025-07-31 2025-08-31
customer         id line.product
Example Customer 1  3                4000.0     4000.0     4000.0     4000.0


period                           2025-09-30 2025-10-31 2025-11-30 2025-12-31
customer         id line.product
Example Customer 1  3                4000.0     4000.0     4000.0     4000.0

Depending on how the business asks for the data, would determine how to show it.

$
\begin{matrix}
\text{SCD} & \text{Year 1} & \text{Year 2} & \text{Year 3}\\\\
\text{Type 2} & \text{8k} & \text{4k} & \text{4k}\\
\text{Type 1} & \text{8k} & \text{8k} & \text{8k}
\end{matrix}
$

### Product Families

Grouping together and forming hierarchies in reporting is common place for businesses, skus are no exception. A common term to express this grouping is called a *Product Family*. Product families provide the ability to compare *apples to apples* data with many skus under similar feature sets. It also provides a simpler way to determine renewability for companies with rather large product catalogs.

<div class="alert alert-block alert-warning">
Imagine a company with over a million skus. They may not have the ability to determine renewability at that deep a grain. So a product family hierarchy naturally gets developed. This can cause some implications that you should be ready for. The further up the hierarchy you make a decision on renewability, the more likely you are to have items that are not actually renewable. A larger enterprise company may acquire another company. The aquired companies feature set could be bundled into a product family that is renewable. Which means <i>every</i> sku is renewable, even things like their onboarding.

I'm not saying this is right or wrong. I'm just saying you should know what is happening. Normally the impact is immaterial to the business, and if it becomes material, the business will find a way to determine renewability at a deeper grain.
</div>

In [6]:
import pandas as pd

product_family_df = pd.DataFrame(
    {
        "item_sku": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        "product_family": [1, 1, 1, 1, 2, 2, 2, 3, 3, 3],
        "renewable": [
            True, True, True, True, True, True, True, False, False, False
        ],
    }
)
product_family_df

   item_sku  product_family  renewable
0         1               1       True
1         2               1       True
2         3               1       True
3         4               1       True
4         5               2       True
5         6               2       True
6         7               2       True
7         8               3      False
8         9               3      False
9        10               3      False

## Deferred ARR

Up until now, we've only considered ARR that is *active*. Meaning, is the contract active in the period we are looking at. When a contract is booked before the start date, the contract can be considered 'deferred' up until it is active.

If a contract is booked in June 2023, starts January 2024, and ends December 2024, then it is deferred the second half of 2023 and active for all of 2024.

In [8]:
deferred_example = Contract(
    1,
    ContractHeader(
        10_000,
        start_date=date(2024, 1, 1),
        end_date=date(2024, 12, 31),
        booking_date=date(2023, 6, 30), #
    ),
    [
        ContractLine(5_000, date(2024, 1, 1), date(2024, 12, 31), 1, True),
        ContractLine(5_000, date(2024, 1, 1), date(2024, 12, 31), 2, True),
    ],
)

In [9]:
deferred_example.to_annualize_df(deferred=True)

                                        ARR                                   \
period                           2023-06-30 2023-07-31 2023-08-31 2023-09-30
customer         id line.product
Example Customer 1  1                5000.0     5000.0     5000.0     5000.0
                    2                5000.0     5000.0     5000.0     5000.0

                                                                              \
period                           2023-10-31 2023-11-30 2023-12-31 2024-01-31
customer         id line.product
Example Customer 1  1                5000.0     5000.0     5000.0     5000.0
                    2                5000.0     5000.0     5000.0     5000.0

                                                                              \
period                           2024-02-29 2024-03-31 2024-04-30 2024-05-31
customer         id line.product
Example Customer 1  1                5000.0     5000.0     5000.0     5000.0
                    2                5000.0     5000.0     5000.0     5000.0

                                                                              \
period                           2024-06-30 2024-07-31 2024-08-31 2024-09-30
customer         id line.product
Example Customer 1  1                5000.0     5000.0     5000.0     5000.0
                    2                5000.0     5000.0     5000.0     5000.0


period                           2024-10-31 2024-11-30 2024-12-31
customer         id line.product
Example Customer 1  1                5000.0     5000.0     5000.0
                    2                5000.0     5000.0     5000.0

ARR is shown in the above dataframe to start in June 2023 and end in December 2024.

<div class="alert alert-block alert-info">
It is common for people to refer to <b>ARR</b> implying both <b>active</b> and <b>deferred</b>. The business case for this is around new sales. Take the example above. Where would it be better to show the initial increase in 10k ARR? In June 2023 or in January 2024? Imagine if this was a portionally large deal for the company, and leadership is in their board meeting for June 2023.
<br>
<br>
<b>-- June 2023 Board Meeting</b><br>
"We just closed a really large deal this month!" - Leadership<br>
"That's great! I don't see the 10k in the ARR #s for June." - The Board<br>
"That's because it won't start until January 2024." - Leadership<br>
<br>
<br>
<b>-- January 2024 Board Meeting</b><br>
"Sales were awful. We didn't close anything?" - Leadership<br>
"How come your ARR jumped 10k this month?" - The Board<br>
"Oh, that's the deal we closed back in June 2023." - Leadership<br>
<br>
<br>
See the problem? It's not an easy story, unless you include deferred. <b>ARR really means 'Active ARR' and 'Deferred ARR'</b>
</div>